.about-us {
    padding: 20px 0;
    background-color: #f2f2f2;
  }
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #003175;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-image {
    width: 50%;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .about-text {
    max-width:  150vh;
    text-align: center;
  }
  .about-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
  }